#resultsContainer {
  padding-bottom: 150px;
}

.export {
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  font-weight: bold;
}

  table {
    table-layout: fixed !important;
  }

  td, th {
    padding-left: 20px;
  }

.excel {
  float: right;
  margin-bottom: 20px;
  margin-right: 25px;
}
/* -------------- /
/ tablet screen /
/ ------------ / */

@media only screen and (min-width:688px) and (max-width: 991px) {

}

/* --------------/
/ small screen /
/ ------------ */

@media only screen and (max-width:687px) {

  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}
